@model CarrinhoDeCompraViewModel 

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count>0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><img src="~/Imagens/cart-5-16.ico"/> </span>
        <span style="Color:whith">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count</span>
    </a>
}